


h1, h2, p { 
    font-family: 'Zen Antique Soft', 'Times New Roman', Times, serif;


}

body{

    background-color:rgb(255, 248, 205);
    
}

.mainText {

    text-align: center;
    font-family: 'Zen Antique Soft'

}


.text-center {


    text-align: center;
    
}

#ffCount {

    text-align: center;
}

.mainStoryText{
    font-size: 45px;
    font-family: 'Zen Antique Soft';


}


.vertical-center {
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

.col-sm-6 {

margin:auto
  }