@font-face {
    font-family: 'Zen Antique Soft';
    src: url('https://medigato.github.io/MostlyTesting/Documents/Personal/Code%20Adventures/WebFont/ZenAntiqueSoft-Regular.woff2') format('woff2'),
        url('https://medigato.github.io/MostlyTesting/Documents/Personal/Code%20Adventures/WebFont/ZenAntiqueSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

