@font-face {
    font-family: 'Zen Antique Soft';
    src: url('WebFont/ZenAntiqueSoft-Regular.woff2') format('woff2'),
        url('WebFont/ZenAntiqueSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

